# Input

## 1. Basic Syntax

In [1]:
# variable_name = input()

name = input()

## 2. Type

In [5]:
name = 'ahmed'     # String contains sequence of characters
age = 23           # Integer not a fractional number
height = 172.5     # float contains fraction 
is_student = False # boolean (True or False) , (1, 0)

print(type(name))
print(type(age))
print(type(height))
print(type(is_student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

# Output

## 1. Basic Syntax

In [6]:
# print(variable)
name = 'ahmed'
print(name)

ahmed

## 2. Printing Multiple Items

In [7]:
name = 'ahmed'
age = 23
print(name, age)

ahmed 23

In [13]:
name = 'ahmed'
age = 23
print('name:',name,'age:', age)

name: ahmed age: 23

## 3. Using sep to Change the Separator

In [15]:
name = 'ahmed'
age = 23
print('name:',name,'age:', age, sep=' ') # this is default separator

name: ahmed age: 23

In [16]:
name = 'ahmed'
age = 23
print('name:',name,'age:', age, sep='<>') # this is modified separator

name:<>ahmed<>age:<>23

## 4. Using end to Control Line Endings

In [20]:
name = 'ahmed'
age = 23
print('name:',name,'age:', age, end='\n') # this is default ending
print('name:',name,'age:', age, end='\n') # this is default ending

name: ahmed age: 23
name: ahmed age: 23

In [21]:
name = 'ahmed'
age = 23
print('name:',name,'age:', age, end='<>') # this is modified ending
print('name:',name,'age:', age, end='<>') # this is modified ending

name: ahmed age: 23<>name: ahmed age: 23<>

## 5. Printing Special Characters

In [23]:
print('ahmedahmed') # normal printing

ahmedahmed

In [24]:
print('ahmed\nahmed') # print new line

ahmed
ahmed

In [25]:
print('ahmed\tahmed') # print tab

ahmed	ahmed

In [26]:
print('ahmed\'s book') # print singel quotation

ahmed's book

In [27]:
print("ahmed\"s book") # print double quotation

ahmed"s book

## 6. Formatting Output with f-strings (f"")

In [29]:
name = 'ahmed'
age = 23
print(f'name: {name}, age: {age}')

name: ahmed, age: 23